@import "variables.less";


span {
    color: @red;
}

ul {
    background-color: @background-color;
    padding: 40px;
}

li {
    display: inline;
    padding-left: 15px;
    padding-right: 30px;
}

.background-image {
    width: 100vw;
}

button {
    background-color: @yellow;
    font: @link-font;
    border-radius: @border-radius;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: @lowercase-color;
}
