@overlay-background-color: #3B3838;
@heading-color: #050500;
@lowercase-color: #050500;
@heading-color: #EE252F;
@text-color: #050500;

@light-gray: #F3F3F3;
@yellow: #F8DF1F;
@red: #EE252F;
@black: #080801;

